h1 {
  background-color: #343a40;
  color: #f8f9fa;
  width: 80%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 20px;
  display: flex;
}

.settings-card {
  margin: 2rem auto;
  max-width: 350px;
}
